<!-- app/views/calculator/square_root.html.erb -->
<h1>Square Root Results</h1>
<p>Number: <%= @number %></p>
<p>Square Root: <%= @result %></p>
<p><%= link_to 'Calculate another square root', '/square_root/new' %></p>
